* {
    box-sizing: border-box;
}

html, body, #app {
    margin: 0;
    padding: 0;
    z-index: 0; 
    width: 100%;
    min-height: 100vh;
    background-color: $color-principal-1;
    color: $color-principal-2;
    overflow:none;
}

header, footer {
    background-color: $color-accents-1;
    color: $color-principal-1;
}

nav {
    background-color: $color-principal-1;
}

a {
    color: $color-accents-2;
}

button {
    background-color: $color-accents-1; 
    color: $color-principal-1; 
}

.text-important {
    color: $color-secondaire-2;
}

#root {
    min-height: 100vh;
    
    iframe#webpack-dev-server-client-overlay {
         display: none !important
    }
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: center;
}

.align-items-end {
    align-items: center;
}

.p-top-40 {
    padding-top: 40px;
}

.margin-0 {
    margin: 0;
}