$color-principal-1: #F8F8F8; /* Blanc Cassé */
$color-principal-2: #A9A9A9; /* Gris Moyen */
$color-secondaire-1: #333333; /* Gris Anthracite */
$color-secondaire-2: #000000; /* Noir */
$color-accents-1: #1C1C3C; /* Bleu Nuit */
$color-accents-2: #556B2F; /* Vert Olive */
