#navbar {
    position: fixed;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    @media screen and (max-width:677px) {
        padding-left: 20px;
    }
    a {
        padding-right: 15px;
        font-size: 18px;
        text-decoration: none;
    }
}